.ttl-downvote:hover,
.ttl-downvote.enabled {
	color: @purple_1;
}

.ttl-downvote:active, .ttl-score.downvote {
	color: @purple_2;
}

.ttl-upvote:hover,
.ttl-upvote.enabled {
	color: @orange_2;
}

.ttl-upvote:active, .ttl-score.upvote {
	color: @orange_3;
}
